@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.bannerBgImage {
    height: 100vh;
    background: url("/images/bannerImage1.jpg");
    background-size: cover;
    position: relative;
}

.bannerText {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.bannerTitle {
    font-size: 4rem;
}

.bannerDesc {
    font-size: 2rem;
}

.card {
    cursor: pointer;
}

.card:hover {
    background-color: #d87093;
    border: 2px solid #9acd32;
}

.bIcon {
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.img-fluid:hover {
    border: 2px solid #9acd32;
}

.card-img-top {
    height: 50vh;
}